body {
    background-color: F9F9F9;
}

.titulo {
    display: flex;
    justify-content: center;
    

}

.container-fluid-card {
    background: linear-gradient(to bottom, #4F7097 , white);
}

footer {
    height: 400px;
}


